#fatihah {

    height: 90vh; 

    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


#fatihah-container {
    width: 100%
    margin: 0px;
    margin-top: 12vh;
}


#success-alert {
    width: 50px;
    display: none;
    margin-right: 20px;
    
}

.contents {
/*    max-height: 200px;*/
    max-height: 100%;
}


#donate-image {
    margin-top: 25px;
    margin-left: 15px;
    height: 2px;
}




.img-circle {
    border-radius: 10px;
    border-style: solid;
    border-color: #7FBCEA;
    border-width: 4px;
}

.navbar-nav {
  float: none;
  text-align: center;
  padding-bottom: 10px;
/*    height: 3px;*/
    
}

.transparent {
    background-color: rgba(0, 0, 0, 0);
    background-image: none  !important;
    border: none;
}

.top-bar {
    background-color: rgba(255, 255, 255, 0.6);
    border: 0px solid  #c9ff72 !important;
/*    border-radius: 10px !important;*/
    
}

.navbar-default {
    
}

.navbar-nav li {
  float: none;
  display: inline-block;
 
  
}

.panel-heading {
    /*background: #005A04 !important; color: #fff;*/
    border-radius: 5px;
    border-top: 3px solid #7FBCEA;
    border-left: 3px solid #7FBCEA;
    border-right: 3px solid #7FBCEA;
  
} 


.panel-default {
    /*background: #CCFFBB !important; color: #fff; */
    background-color: rgba(255,255,255,0.95) !important;
    border-radius: 10px;
    border-style: solid;
    border-color: #7FBCEA;
    border-width: 3px;
    height: 100%;
/*    margin-top: 8px;*/
}

.panel-body {
    max-height: 88%;
    overflow-y: auto;
}

.panel {
    /*border-radius: 15px !important;    */
}

.panel-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#feedback-input {
  
}

.form-group {
/*    margin-top: 15px;*/
    
    
}

.form-control {
    margin-top: 10px;
}

#text-changer {
    float: right;
}

#text-changer-label {
    margin-left: 5px;
}


#top-nav {
    margin-top: 20px;
}


#icon-container {
    width: 400px;
}



.misc-buttons {
    margin-left: 10px;
    
}

#show-area {
    /*this makes it fill the whole right area beside image*/
/*
    float: none;
    display: table-cell;
*/
    width: 95vh;
    margin-top: 12vh;

/*    margin-left: 20px;*/
    
   
}


body {
    background-attachment: fixed;
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}


div.col-md-2 {
    height: 100vh;
}

.center-map {
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
/*    margin-left: 200px;*/
    width: 424px;
}

p {
	height: 100%;
}

.button-container {
    display: block;
}

#main-tafsir-section {
/*    margin-top: 10vh;*/
/*    min-height: 40vh;*/
/*    height: inherit;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
   
    
/*    width: auto;*/
    
}


div.popover-content {
    width: auto;
    height: 60px;
}

.panel-content {
/*    max-height: 30vh;    */
   
}



.share-icon {
    float: left;
    width: 50px;
    margin-bottom: 15px;
    margin-right: 10px;
}



.btn-group {
    // center
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}





#sub-ayat-elab-section {
/*    margin-bottom: 50px;*/
    min-height: 40vh;
    display: none;
    
    
}


#media {
    min-height: 40vh;
    display: none;
}


.test {
/*    border: 4px dashed;*/
}


.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mybutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
    border: 1px solid #0197ba;
    margin-right: 5px;
    border-radius: 7px;
    background: #01f6ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#01f6ff), to(#0197ba));
    background: -moz-linear-gradient(top, #01f6ff, #0197ba);
    background: linear-gradient(to bottom, #01f6ff, #0197ba);
    text-shadow: #015f75 1px 1px 1px;
    font: normal normal normal 15px verdana;
    color: #ffffff;
    text-decoration: none;
}
.mybutton:hover,
.mybutton:focus {
    border: 1px solid ##01bde9;
    background: #01ffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#01ffff), to(#01b5df));
    background: -moz-linear-gradient(top, #01ffff, #01b5df);
    background: linear-gradient(to bottom, #01ffff, #01b5df);
    color: #ffffff;
    text-decoration: none;
}
.mybutton:active {
    background: #0197ba;
    background: -webkit-gradient(linear, left top, left bottom, from(#0197ba), to(#0197ba));
    background: -moz-linear-gradient(top, #0197ba, #0197ba);
    background: linear-gradient(to bottom, #0197ba, #0197ba);
}